*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --nav-header-color: white;
    --nav-color-menu: #555;
}

body {
    font-family: "Source Sans Pro", sans-serif, Arial, Helvetica, sans-serif;
    font-size: calc(0.75em + 1vmin);
    width: 100%;
    scroll-behavior: smooth;
}


body ul {
    list-style: none;
}

body a {
    text-decoration: none;
    color: black;
}

/* Animations */
@keyframes triggerMenuHeader {
    0% {
        height: 0%;
        opacity: 1;
        background-color: blue;
    }

    100% {
        height: 100%;
        opacity: 1;
        background-color: blue;
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

@keyframes appearOn {
    from {
        opacity: 0
    }

    to {

        opacity: 1
    }
}

/*  General Class */
.btn {
    color: white;
    background-color: grey;
    padding: 0.4rem;
    border-radius: 4px 4px 4px 4px;
}

.fade_right {
    position: relative;
    animation: animateright 0.4s
}

/* Specific class */
.submenu_mobile_header.overlay_on {
    max-height: 1000px;
}

.appear_h1_slider {
    animation: appearOn 1s ease 1.4s forwards;
}

.appear_h2_slider {
    animation: appearOn 1s ease 1.2s forwards;
}

.appear_h3_slider {
    animation: appearOn 1s ease 1s forwards;
}

/* Header */
header {
    background-color: var(--nav-header-color);
    border-bottom: 0.3px solid grey;
}

/*( Desktop NAV )*/
.nav_desktop {
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

.nav_desktop ul {
    display: flex;
    margin-left: 0;
}

.nav_desktop ul li {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav_desktop ul li {
    margin: auto;
}

.nav_desktop ul li a {
    color: var(--nav-color-menu);
}

.nav_desktop span {
    color: var(--nav-color-menu);
    margin: auto;
}

/*( Mobile )*/
.nav_mobile {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 60vh;
}

#burger,
.icone {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    height: 3rem;
    top: 2rem;
    right: 1rem;
    z-index: 20;
}

.icone {
    left: 1rem;
    font-weight: bold;
}

#burger {
    width: 32px;
    height: 23px;
    cursor: pointer;
    z-index: 100;
    top: 1.5rem;
}

#burger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    transition: transform 0.4s ease, top 0.2s linear 0.4s, opacity 0.05s ease 0.4s;
}

#burger span:first-child {
    top: 0;
}

#burger span:nth-child(2) {
    top: 9px;
}

#burger span:last-child {
    top: 18px;
}

#burger.cross span {
    transition: top 0.2s linear, opacity 0.05s ease 0.2s,
        transform 0.4s ease-out 0.2s;
}

#burger.cross span:first-child {
    top: 9px;
    transform: rotate(45deg);
}

#burger.cross span:nth-child(2) {
    opacity: 0;
}

#burger.cross span:last-child {
    top: 9px;
    transform: rotate(135deg);
}

.submenu_mobile_header.overlay_on {
    max-height: 1000px;
}

.submenu_mobile_header {
    max-height: 0px;
    transition: max-height 1000ms linear;
    overflow: hidden;
    background-color: white;
    position: relative;
    z-index: 10;
}

.submenu_mobile_header li {
    text-align: left;
    padding-left: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.035);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10vh;
}

.submenu_mobile_header li a {
    font-size: 1.3rem;
}

.slider_top_section {
    position: relative;

}

.slider_top_details {
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 20vh;
    width: 65vw;
    padding-left: 1rem;
    bottom: 5vh;
}

.slider_top_section {
    border: 1px solid red;
    height: 80vh;
}

.slider_top_section article {
    height: 100%;
}

.slider_top_section img {
    width: 100%;
    height: 100%;
}

.slider_article_2,
.slider_article_3 {
    text-align: center;
}

.slider_article_2 .slider_top_details {
    width: 100%;
}

.slider_article_2 .slider_top_details>* {
    opacity: 0;
}

.slider_article_3 .slider_top_details>* {
    opacity: 0;
}

.dots {
    position: relative;
    top: -1.5rem;

    display: flex;
}

.slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

}

.slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: red;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

/*body */

/*footer*/

@media only screen and (max-width: 800px) {
    header {
        height: 15vh;
        position: relative;
    }

    .nav_desktop {
        display: none;
    }

    .nav_mobile {
        display: block;
    }
}