*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: whitesmoke;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: black;
}

* h1 {
  font-family: "Montserrat", sans-serif;
}

/* animation */

@keyframes slidePage {
  0% {
    left: -100%;

  }

  100% {
    left: 0%;

  }
}

.position_static {
  position: static !important;
}

.overlay_on {
  -webkit-animation: slidePage 2s ease forwards;
  animation: slidePage 2s ease forwards;
  display: block !important;
}

.change span:first-child {
  -webkit-transform: rotate(-45deg) translate(-1px, 1px);
  transform: rotate(-45deg) translate(-1px, 1px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
}

.change span:nth-last-child(2) {
  opacity: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.change span:nth-child(3) {
  -webkit-transform: rotate(10deg) translate(-7px, -8.5px);
  transform: rotate(42deg) translate(-7px, -8.5px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

#container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  height: 70vh;
  background-color: #212121;
}

#container .header .nav_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

#container .header .nav_desktop span {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
  width: 10rem;
  color: #949191;
  font-size: 16px;
  font-weight: bold;
}

#container .header .nav_desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 1rem;
}

#container .header .nav_desktop ul li {
  font-size: 18px;
  margin-right: 3rem;
  font-family: black;
  margin-top: 1rem;
}

#container .header .nav_desktop ul li a {
  color: white;
}

#container .header .nav_mobile {
  display: none;
}

#container .header .nav_mobile div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

#container .header .nav_mobile div:nth-child(1) .icone {
  color: #791b1b;
  font-weight: bold;
  position: relative;
  top: 0.8rem;
  left: 0.5rem;
  z-index: 23;
}

#container .header .nav_mobile div:nth-child(1) #burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  height: 3rem;
  top: 1rem;
  right: 1rem;
  z-index: 20;
}

#container .header .nav_mobile div:nth-child(1) #burger span {
  border-top: 4px solid #791b1b;
  border-radius: 4px;
  margin-bottom: 2px;
  width: 5vw;
  font-weight: bold;
}


#container .header h1 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

#container .header h1:after {
  content: "";
  border-bottom: 4px solid #791b1b;
  width: 10rem;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 71%;
}

#container .main_div {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;

  overflow: hidden;
}

#container .main_div .dots_pointer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5rem;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #791b1b;
  border-radius: 50%;
  cursor: pointer;
}

/*   3d  */

.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style: preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);

  /*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
}

#contentContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 900px;
}

#carouselContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
}

.carouselItem {
  width: 320px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  visibility: hidden;
}

.carouselItemInner {
  width: 320px;
  height: 40vh;
  position: absolute;
  background-color: #bbb;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  color: black
}


#container .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 75vh;
  background-color: #212121;
  color: white;
  clip-path: polygon(0% 0%, 44% 0, 50% 4%, 56% 0, 100% 0, 100% 99%, 0 99%);
}

#container .footer .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60%;
  width: 100%;
}

#container .footer .footer_top div {
  width: 33%;
  text-align: center;
  margin-top: 7rem;
}

#container .footer .footer_top div p {
  color: white;
}

#container .footer .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 5rem;
  position: relative;
  height: 40%;
  padding-top: 7rem;
}

.footer .footer_bottom span:nth-child(1) {
  flex: 1;
  align-self: flex-end;
  margin-bottom: 0.3rem;
  padding-left: 1rem;

}

.footer .footer_bottom span:nth-child(2) {
  flex: 1;
  align-self: flex-end;
  margin-bottom: 0.3rem;
}

#container .footer .footer_bottom:before {
  content: "";
  border-top: 1px solid red;
  width: 40%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  position: absolute;
  margin-top: -5rem;
}




@media only screen and (max-width: 800px) {


  #container .header .nav_desktop {
    display: none;
  }

  #container .header .nav_mobile {
    display: block;
  }

  #container .header .nav_mobile .header_wrapper_overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #212121;
    z-index: 18;
    top: 0;
    display: none;
  }

  #container .header .nav_mobile .header_wrapper_overlay ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  #container .header .nav_mobile .header_wrapper_overlay ul li {
    color: white;
    font-weight: bold;
    width: 6rem;
    text-align: left;
    margin-left: 3rem;
  }

  #container .header .nav_mobile .header_wrapper_overlay ul li a {
    color: white;
  }

  #container .header .nav_mobile .header_wrapper_overlay ul li:before {
    content: "\25A0";
    color: #791b1b;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }



}

@media only screen and (max-width: 400px) {
  #container .footer .footer_top div {
    width: 100%;
  }

  .footer .footer_bottom span:nth-child(1) {
    flex: 2;
  }
}

/*# sourceMappingURL=gallery.css.map */