@import '_effects';
@import '_varAndFunc';

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {

    font-family: $familyBody;
    font-size: 16px;
    width: 100%;
    background-color: whitesmoke;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
}


/*Animations*/
@keyframes puff-in-bottom {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes makeItAppears {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gradiant {
    0% {
        background-color: #e8e8e8;
    }

    100% {
        background-color: white;
    }
}

@keyframes makeItBigger {
    0% {
        width: 0%;

    }

    100% {
        width: 90%;

    }
}

@keyframes leftToRight {
    0% {
        width: 0%;
        opacity: 1;

    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes topToBottom {
    0% {
        height: 0%;
        background-color: #791b1b;
        opacity: 1;

    }

    100% {
        height: 100%;
        opacity: 1;
        background-color: #791b1b;
    }
}

@keyframes tryAgain {
    0% {
        top: 0px;
    }

    100% {
        top: -140%;
    }
}

@keyframes liftpage {
    0% {
        top: 0px;
    }

    100% {
        top: -140%;
    }
}

@keyframes headerLift {
    0% {
        height: 0vh;
    }

    100% {
        height: 60vh;
    }
}

@keyframes slidePage {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes displayText {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

//class effects

.git_hub {
    width: 2vw;
    height: 3vh;
}

.opacity_effect {
    opacity: 1 !important;
    animation-name: makeItAppears;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.opacity_effect_cart {
    animation: makeItAppears 1s ease-in-out 1s forwards;

}


.image_bigger {
    opacity: 1 !important;
    animation-name: makeItBigger;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.section_opacity {
    opacity: 1 !important;
    animation-name: makeItAppears;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.para_opacity {
    opacity: 1 !important;
    animation-name: makeItAppears;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.title_section_effect {
    opacity: 1 !important;
    animation-name: makeItAppears;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.overlay_on {
    display: block !important;
    animation: slidePage 2s ease;
}

.change span:first-child {

    transform: rotate(-45deg) translate(-1px, 1px);
    transition-property: transform;
    transition-duration: 3s;

}

.change span:nth-last-child(2) {
    opacity: 0;
    transition-property: transform;
    transition-duration: 1s;

}

.change span:nth-child(3) {

    -webkit-transform: rotate(10deg) translate(-7px, -8.5px);
    transform: rotate(42deg) translate(-7px, -8.5px);
    transition-property: transform;
    transition-duration: 1s;

}

.position_static {
    position: static !important;
}

.bar_state {
    background-color: white !important;
    position: fixed;
    animation: gradiant 3s ease;
}

.fab {
    font-family: 'Courier New', Courier, monospace;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    background-color: whitesmoke;
    overflow-x: hidden;

    ul {
        list-style: none;

    }

    a {
        text-decoration: none;

    }
}

#container {
    overflow: hidden;

    .header {

        @include flexDisplay(column, space-between);
        font-family: $familyTitle;
        height: 70vh;
        background-color: #212121;

        .nav_desktop {
            @include flexDisplay(row, space-between);
            grid-column: 1/5;

            span {
                opacity: 0;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 2rem;
                width: 10rem;
                color: #949191;
                font-size: 16px;
                font-weight: bold;
            }

            ul {
                @include flexDisplay(row, space-between);
                margin-right: 1rem;
                margin-top: 1rem;

                li {
                    font-size: 18px;
                    margin-right: 3rem;
                    font-family: $fontTitle;

                    a {
                        color: $secondaryColor;
                    }
                }
            }
        }

        .nav_mobile {
            display: none;

            div:nth-child(1) {
                @include flexDisplay(row, space-between);
                width: 100%;

                .icone {
                    color: $fifthColor;
                    font-weight: bold;
                    position: relative;
                    top: 0.8rem;
                    left: 0.5rem;
                    z-index: 23;

                }

                #burger {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    position: fixed;
                    height: 3rem;
                    top: 1rem;
                    right: 1rem;
                    z-index: 20;

                    span {
                        border-top: 4px solid $fifthColor;
                        border-radius: 4px;
                        margin-bottom: 2px;
                        width: 5vw;
                        font-weight: bold;
                    }
                }
            }
        }

        h1 {
            text-align: center;
            color: whitesmoke;
            margin-bottom: 5rem;
            font-size: 2.5rem;

            width: 15rem;
            margin-left: auto;
            margin-right: auto;

            &:after {
                content: "";
                border-bottom: 4px solid $fifthColor;
                width: 10rem;
                position: absolute;
                transform: rotate(90deg);
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                top: 71%;


            }

        }


    }

    .main_div {
        margin-top: 8rem;
        height: auto;

        .e-commerce,
        .portfolio,
        .restaurant,
        .ecommerce_two,
        .login_quote {
            width: 100%;
            height: auto;

            .pic_website {
                opacity: 1;
                height: 70vh;


                div {
                    opacity: 0;
                }

                .opacity_on {
                    opacity: 1;
                    width: 50vw;
                    height: 100%;
                    animation: makeItAppears 1s ease;
                    position: relative;
                    left: 3.5rem;

                    &:before {
                        content: "";
                        width: 100%;
                        opacity: 0;
                        position: absolute;
                        border-top: 3px solid $fifthColor;
                        animation: leftToRight 1s ease, topToBottom 1s ease 1s;
                        z-index: 2;
                    }

                    .presentation_pics,
                        {
                        opacity: 0;
                        position: relative;
                        height: 100%;
                        width: 100%;
                        animation: makeItAppears 0.5s ease-in-out 2s forwards;


                        a {

                            img {
                                width: 100%;
                                height: 100%;
                                transition: all .2s ease-in-out;

                                &:hover {
                                    transform: scale(1.06);
                                }
                            }
                        }

                        .title_content {
                            position: absolute;
                            display: inline-block;
                            top: 62%;
                            left: 115%;
                            height: 2px;
                            opacity: 1;
                            min-width: 15rem;
                        }

                        .bordure {
                            position: absolute;
                            left: 80%;
                            top: 65%;
                            border-top: 2px solid $fifthColor;
                            width: 28%;
                        }
                    }


                }
            }

            .description {
                @include flexDisplay(row, flex-end);
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-top: 5rem;
                margin-bottom: 5rem;

            }

            div {
                margin-top: auto;
                margin-bottom: auto;
                height: auto;
                flex: 1;

                h2 {
                    opacity: 0;
                    text-align: center;
                }

                .display_f2 {
                    opacity: 1;
                    animation: makeItAppears 2s ease;
                }
            }

            .sub_description {
                opacity: 0;
                @include flexDisplay(column, space-around);
                opacity: 0;
                align-content: center;
                flex: 1;
                height: auto;
                flex-wrap: wrap;


                p {
                    width: 50%;
                    font-size: 1rem;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    margin-left: auto;
                    margin-right: auto;


                    &:before {
                        content: "\25A0";
                        color: $fifthColor;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }

            }

        }
    }
}



.footer {
    @include flexDisplay(column, center);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 75vh;
    background-color: #212121;
    color: white;
    clip-path: polygon(0% 0%, 44% 0, 50% 4%, 56% 0, 100% 0, 100% 99%, 0 99%);

    .footer_top {
        @include flexDisplay(row, space-between);
        height: 60%;
        width: 100%;

        div {
            width: 33%;
            text-align: center;
            margin-top: 7rem;

            p {
                color: white;
            }
        }
    }

    .footer_bottom {
        @include flexDisplay(row, flex-start);
        height: 5rem;
        position: relative;
        height: 40%;
        padding-top: 7rem;

        span {
            &:nth-child(1) {
                padding-left: 1rem;
            }

            width: 50%;
            margin-top: 3rem;
        }

        &:before {
            content: "";
            border-top: 1px solid red;
            width: 40%;
            margin-left: 50%;
            transform: translateX(-50%);
            height: 2px;
            position: absolute;
            margin-top: -5rem;

        }
    }
}


@media only screen and (max-width: 800px) {
    #container {
        .header {
            .nav_desktop {
                display: none;
            }

            .nav_mobile {
                display: block;

                .header_wrapper_overlay {
                    @include flexDisplay(column, flex-end);
                    position: fixed;
                    height: 100vh;
                    width: 100%;
                    background-color: $fourthColor;
                    z-index: 18;
                    top: 0;
                    display: none;

                    ul {
                        @include flexDisplay(column, flex-start);
                        align-items: center;
                        height: 60%;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        align-items: center;
                        justify-content: space-around;

                        li {

                            color: white;
                            font-weight: bold;
                            width: 6rem;
                            text-align: left;
                            margin-left: 3rem;

                            a {
                                color: white;
                            }

                            &:before {
                                content: "\25A0";
                                color: $fifthColor;
                                font-weight: bold;
                                display: inline-block;
                                width: 1em;
                                margin-left: -1em;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 500px) {
    .git_hub {
        width: 4vw;
    }



    .main_div {
        section {
            .pic_website {
                height: 55vh !important;

                div {
                    left: 1rem !important;

                    .title_content {

                        left: 110% !important;
                    }
                }
            }

            .description {
                @include flexDisplay(column, flex-end);
            }
        }
    }




    .footer {
        .footer_top {
            div {
                width: 100%;
            }
        }

        .footer_bottom {
            span {
                margin-top: 2rem;
            }

        }
    }
}